#title {
  font-size:100px;
}

#tagline {
  font-size:60px;
}

#welcome {
  font-family: 'Assistant', sans-serif;
}

#about {
  font-family: 'Dosis', sans-serif;
}

#skills {
  font-family: 'Dosis', sans-serif;
}


#projects {
  font-family: 'Dosis', sans-serif;
}

#contact {
  font-family: 'Dosis', sans-serif;
}

#title {
  font-size:100px;
  font-family: 'Open Sans', sans-serif;
}

#tagline {
  font-size:60px;

}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow-x:hidden;
}

#titleArea {

  text-align: center;
}

.light {
  background-color:#99ccff;
  color:black;
}

.dark {
  background-color: #e6e6e6;
  color:black;
}


#spacer {
  height: 60px;
  width: 100%;

}

.navItems {
  color:#e6e6e6;
  text-decoration: none;
  font-size: 40px;
  -webkit-transition-property: color;
     -moz-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.navItems:visited {
  color:#e6e6e6;
}
.navItems:hover {
  color: #ffffff;
}

#welcome {
  background-image:url("images/arch.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  color: white;
}

.bgImage {
  background-color: transparent;
}

section {
  padding-left: 50px;
  padding-right: 50px;
}

.inTextLinks {
  color: blue;
  -webkit-transition-property: color;
     -moz-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}



.inTextLinks:visited
{
  color:blue;
}

.inTextLinks:hover {
  color: white;
}

.contactIcon {
  width:50px;
  height:50px;
  padding-right: 20px;
  padding-top:20px;
}

img {
  max-width: 100%;
}



#hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 101;
}


nav {
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;

}

#navDiv {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 250px;
  height: 350px;
  background-color: #888888;
  box-shadow: -3px 3px 5px #333333;
  font-family: 'Dosis', sans-serif;


}

#hint {
  width: 70px;
  height: 40px;
  left: 50px;
  right: 50px;
  bottom: 20px;
  margin:auto;
  position: absolute;
}

.link-btn {
  font-family: 'Assistant', sans-serif;
  border-style:solid;
  border-radius:5px;
  border-color: black;
  border-width:2px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  background-color: transparent;
  -webkit-transition-property: background-color, color;
     -moz-transition-property: background-color, color;
       -o-transition-property: background-color, color;
          transition-property: background-color, color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;

}

.link-btn:hover {
  background-color: black;
  color: white;

}

.link-btn:visited {
  text-decoration: none;

}
