body {
    margin: 0px;
    padding: 0px;
    width:100%;
}


#top {
    top: 0px;
    margin-top: 0px;
    padding: 0px;
    background: url('images/night.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    word-wrap: normal;
    height: 20em;
}

#title {
    
    
    width : 100vw;
    margin-top: 1em;
    font-weight: 300; 
    font-size: 60px;
   
    //margin: 0px;
    
}

#subtitle {
    font-weight: 300;
    font-size: 20px;
    
    margin-top: 0px;
}

#nav {
    background-color: gainsboro;
    padding: 0.5em;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: dimgray;
    
}

#nav-text {
    margin: 0px;
    
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.contact-div {
  margin-left: 2vw;
  margin-right: 2vw;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: top;
}

.general-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.content-section {
    margin: 2em;
    padding-left: 10vmin;
    
    padding-right: 10vmin; 
    font-family: 'Open Sans', sans-serif;
}

.content-section > h1 {
    font-size: 2em;
    font-weight: 300;
}

.projectEntry {
  max-width: 25em;
  
  
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  margin: 30px;
  min-height: 670px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.projectEntry > h3 {
    font-weight: 300;
    font-size: 1.5em;
}

.projectEntry > img {
    width: 100%;
}

.link-btn {
  
  border-style:solid;
  border-radius:5px;
  border-color: black;
  border-width:1px;
  color: black;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  
 
  background-color: transparent;
  -webkit-transition-property: background-color, color, border-color;
     -moz-transition-property: background-color, color, border-color;
       -o-transition-property: background-color, color, border-color;
          transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;

}

.link-btn:hover {
  background-color: #009999;
  border-color: #009999;
  color: white;
}

.hackathon-images {
    height: 7em;
    
}

figure {
    width: 8em;
    margin: 1em;
    display: inline-block;
}

figcaption {
    
    width: 8em;
    text-align: center;
}