body {
  background-color: white;
  font-size: 16px;
}

#about {
  font-family: 'Open Sans', sans-serif;
  color: black;
  z-index: 100;
  position: relative;
  background-color: white;
}

#skills {
  font-family: 'Open Sans', sans-serif;
  color: black;
  z-index: 100;
  position: relative;
  background-color: white;
}


#projects {
  font-family: 'Open Sans', sans-serif;
  color: black;
  z-index: 100;
  position: relative;
  background-color: white;
}

#contact {
  font-family: 'Open Sans', sans-serif;
  color: black;
  z-index: 100;
  position: relative;
  background-color: white;
}

#title {
  font-size:400%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: black;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: relative;
}

#tagline {
  font-size:300%;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  z-index: 100;
  color: #009999;
  margin: 0;
  padding: 0;
  position: relative;
}

h2 {
  font-size: 300%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 250%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  font-size: 150%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow-x:hidden;
}

#titleArea {
  text-align: center;
  padding-top:30px;
}
/*
#spacer {
  height: 60px;
  width: 100%;
  //background-color: white;
}*/

.navItems {
  color:#e6e6e6;
  text-decoration: none;
  font-size: 40px;
  -webkit-transition-property: color;
     -moz-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.navItems:visited {
  color:#e6e6e6;
}
.navItems:hover {
  color: #ffffff;
}

#welcome {
  height:100vh;
  color: black;
  background-color: transparent;
  z-index: 100;
  position: static;
}

#bgImage {
  height: 100vh;
  width: 100%;
  z-index: 0;
  background-image:url("images/lake.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

section {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inTextLinks {
  color: #009999;

  -webkit-transition-property: color;
     -moz-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}



.inTextLinks:visited
{
  color: #009999;

}

.inTextLinks:hover {
  color: #00cccc;
}

.contactIcon {
  width:50px;
  height:50px;
  padding-right: 20px;
  padding-top:20px;
  -webkit-transition-property: filter;
     -moz-transition-property: filter;
       -o-transition-property: filter;
          transition-property: filter;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.contactIcon:hover {
  filter: invert(0.5);
  -webkit-filter: invert(0.5);
}

img {
  max-width: 100%;
}



#hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 102;
    -webkit-transition-property: filter;
       -moz-transition-property: filter;
         -o-transition-property: filter;
            transition-property: filter;
    -webkit-transition-duration: 0.25s;
       -moz-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

#hamburger:hover {
  filter: invert(0.3);
  -webkit-filter: invert(0.3);
}



#navDiv {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 250px;
  height: 325px;
  background-color: #009999;
  box-shadow: -1px 1px 3px #333333;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;

}

#hint {
  width: 70px;
  height: 40px;
  left: 50px;
  right: 50px;
  bottom: 20px;
  margin:auto;
  position: absolute;
}

.link-btn {
  font-family: 'Assistant', sans-serif;
  border-style:solid;
  border-radius:5px;
  border-color: black;
  border-width:2px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  background-color: transparent;
  -webkit-transition-property: background-color, color, border-color;
     -moz-transition-property: background-color, color, border-color;
       -o-transition-property: background-color, color, border-color;
          transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;

}

.link-btn:hover {
  background-color: #009999;
  border-color: #009999;
  color: white;

}

.link-btn:visited {
  text-decoration: none;

}

#dayTripperPic {
  width: 300px;
  height: 300px;
}

.sideImages {
  float: left;
  height: 120px;
  width: 120px;
  padding-right: 30px;
}

#contentArea {
  background-color: white;
}
