.centered-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#welcome {
  height: 100vh;
  width: 100vw;
  background: url('images/night.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Exo 2', sans-serif;

}

#welcome > h1 {
  color: #FFFFFF;
  font-size: 3em;
  font-weight: 200;
}

#welcome > h3 {
  color: #D3D3D3;
  font-size: 1.5em;
  font-weight: 300;
}

#skills-container {
  margin: 0;
  background-color: #4169E1;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

.light-btn {
  background-color: #FFFFFF;
  padding: 0.75em;
}

.light-btn:hover {
  background-color: #D3D3D3;
}

.centered-body {
  text-align: center;
}

.content-area {
  font-family: 'Open Sans';
  font-weight: 400;
  margin-left: 10vw;
  margin-right: 10vw;

}

.content-section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.light-text {
  color: #FFFFFF;
}

.dark-text-bright {
  color: #000000;
}

.dark-text-mellow {
  color: #808080;
}

.light-icon {
  color: #FFFFFF;
}

.centered-icon {
  display: inline-block;;
  margin: 10px;
}

/*.projectEntry {
  max-width: 400px;
  padding: 10px;
  display: inline-block;
  margin: 30px;
  vertical-align: top;
  font-size: 14px;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 10px;

}*/

.projectEntry {
  margin: 1vw;
  max-width: 400px;
  display: inline-block;
  height: 500px;
  vertical-align: top;
  background-color: #F4F4F4;
  padding: 10px;
  border-radius: 10px;
}

.projectEntry:hover {
  box-shadow: 2px 2px 4px lightgray;
}

.projectEntry a {
  color: #4169E1;
}

.projectEntry a:visited {
  color: #4169E1;
}

.projectEntry a:hover {
  color: #6495ED;
}

#projects-container {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

#projects-container h3 {
  font-weight: 200;
  font-size: 30px;
}

.portfolio-image {
  width: 100%;
}

#awards-container {
  margin: 0;
  background-color: #4169E1;
}

#awards a {
  color: #FFD700;
}

#awards a:hover {
  color: #FFFF00;
}

#contact {
  text-align: center;
}

.contact-div {
  margin: 1vw;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: top;
}

.contact-icon {
  color: #000000;
}

.contact-icon:hover {
  color: #808080;
}
